@{
    ViewData["Title"] = "Feilmelding";
}

<div class="container box">
    <h2 class="is-size-3 3rem has-text-black"><strong>Det oppsto en feil under handlingen</strong></h2>
	<p class="text-muted">Vennligst gå tilbake til <a asp-controller="Admin" asp-action="Index">Administrasjonssiden</a>.</p>
</div>