@{
    ViewBag.Title = "Admin";
}
@model Kartverket.Web.Models.Admin.GetAllReportsModel
<h2>Rapporter</h2>

<table class="table">
    <thead>
        <tr>
            <th>Obstacle</th>
            <th>Date reported</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.Reports)
        {
            <tr>
                <td>@report.Title</td>
                <td>@report.CreatedAt</td>
                <td>
                    <a class="nav-link, text-dark"
                    asp-controller="Admin"
                    asp-action="ReportInDepth"
                    asp-route-id="@report.Id"
                    >
                    Åpne
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>