@{
    ViewBag.Title = "Admin";
}
@model Kartverket.Web.Models.Admin.GetAllReportsModel

@* 
    TODO:

    Filterere brukere, dato og typer.
    Paginering.
*@

<div class="box">
<h2 class="is-size-3">Rapporter</h2>
</div>

<div class="box mt-1">
    <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
        <tr>
            <th>Obstacle</th>
            <th>Date reported</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model.Reports)
        {
            <tr>
                <td>@report.Title</td>
                <td>@report.CreatedAt</td>
                <td>
                    <a class="nav-link, text-dark"
                    asp-controller="Admin"
                    asp-action="ReportInDepth"
                    asp-route-id="@report.Id"
                    >
                    Åpne
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>