@{
    ViewData["Title"] = "No Objects Found";
}

<div class="container box">
    <h2 class="is-size-3 3rem has-text-black">Det finnes ingen objekter i denne rapporten</h2>
	<p class="text-muted">Vennligst gå tilbake til <a asp-controller="Admin" asp-action="Index">Administrasjonssiden</a>.</p>
</div>