@* @model TModel *@
@{
    ViewBag["Title"] = "Object Types";
}

<h1>Object Types</h1>

@* @foreach (var objectType in Model.ObjectTypes) *@
@* { *@
@*     <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;"> *@
@*         <h2>@objectType.Name</h2> *@
@*         <p>@objectType.Description</p> *@
@*         <button class="button is-link" onclick="editObjectType(@objectType.Id)">Edit</button> *@
@*         <button class="button is-danger" onclick="deleteObjectType(@objectType.Id)">Delete</button> *@
@*     </div> *@
@* } *@
