@{
    ViewBag.Title = "In-Depth Report";
}
@model Kartverket.Web.Models.Report.Response.InDepthReportModel

@*
En boks som viser informasjon om rapport
En tabell hvor hver rad er en objekt. En knapp på tabellen skal velge objektet
En boks skal vise informasjon on en objekt.

Et kart som viser enten alle objekter og de sine punkter og hvis du velger en objekt 
på kartet blir kartet oppdatert og viser bare punkter til det objektet du valgte.

*@

<div id="model-title">
    <h2 class="is-size-2">
        Rapport: @Model.Title
    </h2>
</div>
<body>
<!-- 1. Kolonne-->
<div class="main-container">

    <div class="column-flex">
        <div class="box row-flex">
        <h2>Report Description:</h2>
        <br />
        <p>@Model.Description</p>
        <br />
        <p><strong>Created At:</strong> @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm")</p>
        </div>

        <div class="box row-flex" id="ObjTable">
            <h2>Objects</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Object Num</th>
                        <th>Markers</th>
                        <th><button>View</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Object 1</td>
                        <td>5</td>
                        <td>Click</td>
                    </tr>
                    <tr>
                        <td>Object 2</td>
                        <td>5</td>
                        <td>Click</td>
                    </tr>
                    <tr>
                        <td>Object 3</td>
                        <td>5</td>
                        <td>Click</td>
                    </tr>
                                        <tr>
                        <td>Object 3</td>
                        <td>5</td>
                        <td>Click</td>
                    </tr>
                    <tr>
                        <td>Object 3</td>
                        <td>5</td>
                        <td>Click</td>
                    </tr>
                    <tr>
                        <td>Object 3</td>
                        <td>5</td>
                        <td>Click</td>
                    </tr>
                    <tr>
                        <td>Object 3</td>
                        <td>5</td>
                        <td>Click</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!--2. kolonne-->
<div class="column-flex">
    <div class="box" style="flex: 1">
        <h3 class="title is-4">Object title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
<!--3. kolonne-->
<div class="column-flex">
    <div>
        <div id="map" class="column-flex box"></div>
    </div>
</div>
</div>

</body>

@section styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .main-container {
            display: flex;
            height: 100vh;
            padding: 1rem;
            gap: 1rem;
        }

        .column-flex {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1rem;
        }

        .row-flex {
            flex: 1;
        }

        #ObjTable {
            overflow-y: auto;
        }

        #map {
            height: 100vh;
            width: auto;
        }
    </style>
}
@section Scripts{
    <script src ="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>

        const map = L.map('map').setView([58.152704227316775, 7.961763885116014], 15);

        L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png', {
            attribution: '&copy; <a href="http://www.kartverket.no/">Kartverket</a>'
        }).addTo(map);

        const objects = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Objects));
        objects.forEach(obj => {
            if (obj.Points && obj.Points.length > 0) 
            {
                obj.Points.forEach(point => 
                    {
                if (point.Lat && point.Lng)
                {
                    L.marker([point.Lat, point.Lng]).addTo(map).bindPopup("test");
                }
            });
            }
        });
    </script>
}
