@{
    ViewBag.Title = "Map";
}

@section Styles {
    <link rel="stylesheet" vite-href="~/src/main.tsx" asp-append-version="true" />
}

@section Scripts {
    <script type="module" vite-src="~/src/main.tsx"></script>
}

<div id="app"></div>
