@using System.Text.Json
@model Kartverket.Web.Models.Report.MapViewModel

<div class="kart-box box">
    <div id="@(Model.MapElementId)"></div>
</div>

<link rel="stylesheet" vite-href="~/src/map-main.tsx" asp-append-version="true"/>

<script>
    const {mapObjects, selectedMapObject} =
    @Html.Raw(JsonSerializer.Serialize(Model, new JsonSerializerOptions
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    }));

    window.APP_DATA = {
        mapElementId: "@Model.MapElementId",
        objectDefinitions: [{
            colour: "hsl(59 100% 69.8%)",
            objects: mapObjects.map((o) => ({
                id: o.reportId,
                ...o
            })),
        }],
        selectedObject: selectedMapObject ? {
            id: selectedMapObject.reportId,
            ...selectedMapObject
        } : null,
    }
</script>

<script type="module" vite-src="~/src/map-main.tsx"></script>
