@{
    ViewData["Title"] = "Tilgang Nektet";
}

<div class="section">
    <div class="container">
        <div class="notification is-danger">
            <h1 class="title">Tilgang Nektet</h1>
            <br />
            <a class="button is-link" href="@Url.Action("Index", "Home")">Tilbake til Hjemmesiden</a>
            <a class="button is-info" href="javascript:history.back()">Prøv på nytt</a>
        </div>
    </div>
</div>