@{
    ViewData["Title"] = "Home Page";
}

<div class="is-flex is-flex-direction-column is-gapless">
    <div class="grid">
        <div class="cell">
            <h2 class="m-5" style="font-weight: bold; font-size: 2rem;">
                <a asp-controller="User" asp-action="Login" class="has-text-link">
                    Pilot
                </a>
            </h2>
        </div>
        <div class="cell">
            <h2 class="m-5" style="font-weight: bold; font-size: 2rem;">
                <a asp-controller="User" asp-action="Login" class="has-text-link">
                    Kartverket
                </a>
            </h2>
        </div>
        <div class="cell">
            <h2 class="m-5" style="font-weight: bold; font-size: 2rem;">
                <a asp-controller="User" asp-action="Login" class="has-text-link">
                    TODO
                </a>
            </h2>
        </div>
    </div>

    <div class="p-0">
        <img src="~/images/home/web-home.jpg" class="image" alt="Innloggins bilder"/>
    </div>
</div>
