@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity is { IsAuthenticated: true })
{
    <p>Du er logget inn som @User.Identity.Name</p>
    <p>Din rolle er @(User.FindAll(ClaimTypes.Role).FirstOrDefault()?.Value)</p>

    if (User.HasAtleastRole(RoleValue.Kartverket))
    {
        <p>Kartverket</p>
    }
    
    if (User.HasAtleastRole(RoleValue.Pilot))
    {
        <p>Pilot</p>
        <div class="is-flex is-flex-direction-column is-gapless">
            <div class="grid">
                <div class="cell">
                    <h2 class="m-5" style="font-weight: bold; font-size: 2rem;">
                        <a asp-controller="Map" asp-action="Index" class="has-text-link">
                            Start en reise
                        </a>
                    </h2>
                </div>
                <div class="cell">
                    <h2 class="m-5" style="font-weight: bold; font-size: 2rem;">
                        <a asp-controller="Report" asp-action="GetAll" class="has-text-link">
                            Mine reiser
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    }

    if (User.HasAtleastRole(RoleValue.User))
    {
        <p>User</p>
    }
}
else
{
    <div class="is-flex is-flex-direction-column is-gapless">
        <div class="grid">
            <div class="cell">
                <h2 class="m-5" style="font-weight: bold; font-size: 2rem;">
                    <a asp-controller="User" asp-action="Login" class="has-text-link">
                        Pilot
                    </a>
                </h2>
            </div>
            <div class="cell">
                <h2 class="m-5" style="font-weight: bold; font-size: 2rem;">
                    <a asp-controller="User" asp-action="Login" class="has-text-link">
                        Kartverket
                    </a>
                </h2>
            </div>
            <div class="cell">
                <h2 class="m-5" style="font-weight: bold; font-size: 2rem;">
                    <a asp-controller="User" asp-action="Login" class="has-text-link">
                        TODO
                    </a>
                </h2>
            </div>
        </div>

        <div class="p-0">
            <img src="~/images/home/web-home.jpg" class="image" alt="Innloggins bilder"/>
        </div>
    </div>
}
