@model IndexModel
@using System.Text.Json
@{
    ViewData["Title"] = "Home Page";
}

<div id="map" style="height: 600px;"></div>
<div id="underMap"></div>

@section Scripts {
    <script src="~/js/map/index.js"></script>
    <script>
        window.addEventListener('load', function () {
            const points = @Html.Raw(JsonSerializer.Serialize(Model.Points));
            
            window.Map.load(points, document.getElementById('map'));
            window.mapRun();
        });
    </script>
}
