.map-wrapper {
	position: relative;
	height: 100vh;
	width: 100%;
}

.journey-controls-overlay {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 1000;
	max-width: fit-content;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.online-status-overlay {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 1000;
}

.radio + .radio {
	margin-left: 0;
	margin-top: 0.5rem;
	display: block;
}

@media screen and (max-width: 768px) {
	.journey-controls-overlay {
		left: auto;
		right: auto;
		top: auto;
		max-width: none;
	}

	.online-status-overlay {
		top: 0.5rem;
		right: 0.5rem;
	}
}

.journey-controls-overlay .box {
	pointer-events: auto;
}

.journey-controls-overlay {
	pointer-events: none;
}

.online-status-overlay {
	pointer-events: none;
}
